################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/back-end/.vs/back-end
/back-end/bin/Debug/net8.0
/back-end/obj
/back-end/.vs/ProjectEvaluation
*.ini
back_end/.editorconfig
/Tests/obj/Debug/net8.0/Tests.AssemblyInfo.cs
/Tests/obj/Debug/net8.0/Tests.AssemblyInfoInputs.cache
